.THIS .row, .THIS.row {
	border-bottom: 1px whitesmoke solid;
}

.THIS .singleRow {
	width:100%;
	height:20px;
	position:relative;
}

.THIS .allRows {
	position: relative;
}

.THIS .todayLine{
	position:absolute;
	border-left:3px solid yellow;
	height:100%;
	z-index: 1;
}

.THIS .header {
	border-right: 1px whitesmoke solid;
	padding: 5px 5px 5px 5px;
	width : 7%;
	text-align: center;
	white-space: nowrap;
}

.THIS .ganttArea, .THIS .dateBox {
	position: relative;
}

.THIS .dateBox {
	padding-top: 5px;
}

.THIS .dateBox div,  .THIS .superPeriod div{
	display: inline-block;
    border-right: 1px whitesmoke solid;
}

.THIS .dateBox div {
	text-align: center;
}

.THIS .superPeriod div {
	text-align: left;
	padding-left: 5px;
}


.THIS .dateBox div {
	border-right: 1px whitesmoke solid;
}

.THIS .record-display {
	position:absolute;
	min-height: 100%;
	border-bottom:white 1px solid
}

.THIS .cc0 {
	background-color: #1589ee;
	color : white;
}

.THIS .cc1 {
	background-color: #e0e5ee;
}

.THIS .cc2 {
	background-color: #444444;
	color : white;
}

.THIS .cc3 {
	background-color: #04844b;
	color : white;
}


.THIS .cc4 {
	background-color: #ffb75d;
} 

.THIS .cc5 {
	background-color: #54698d;
	color : white;

}

.THIS .cc6 {
	background-color: #ff9a3c;
	color : white;
}

.THIS .cc7 {
	background-color: #fff03f;
}

.THIS .cc8 {
	background-color: #faffbd;
}

.THIS .cc9 {
	background-color: #d9ffdf;
}